<header>
  <div class="container">
    <a class="logo text-decoration-none" routerLink="/" (click)="handleLogoClick()">
      <img class="logo-image" src="assets/img/logo.svg" alt="Nodejumper">
      <p class="title">Nodejumper</p>
    </a>
    <div>
      <a class="btn btn-block btn-social btn-twitter shadow-none" href="https://standforukraine.com" target="_blank"
         ngbTooltip="Stand For Ukraine" tooltipClass="ratio-tooltip">
        <span class="social-icon stand-for-ukraine"></span>
      </a>
      <a class="btn btn-block btn-social btn-twitter shadow-none" href="https://twitter.com/nodejumper" target="_blank"
         ngbTooltip="Twitter" tooltipClass="ratio-tooltip">
        <span class="social-icon fa-brands fa-twitter"></span>
      </a>
      <a class="btn btn-block btn-social btn-github shadow-none" href="https://github.com/nodejumper-org" target="_blank"
         ngbTooltip="Github" tooltipClass="ratio-tooltip">
        <span class="social-icon fa-brands fa-github"></span>
      </a>
      <a class="btn btn-block btn-social btn-telegram shadow-none" href="https://t.me/nodejumper" target="_blank"
         ngbTooltip="Telegram" tooltipClass="ratio-tooltip">
        <span class="social-icon fa-brands fa-telegram"></span>
      </a>
      <a class="btn btn-block btn-bars-menu shadow-none hide" id="btn-bars-menu" (click)="openLeftHandMenuForMobile()">
        <span class="burger-icon fa-solid fa-bars"></span>
      </a>
    </div>
  </div>
</header>
