<ng-container *ngIf="this.chainService.activeChain as chain">
  <div class="row" *ngIf="chain.isSnapshotEnabled" id="snapshot">
    <div>
      <p class="title">Snapshot
        <i
        class="fa-solid fa-circle-question"
        ngbTooltip="This section allows your node to join the network in a few minutes by using the snapshot. Note that the snapshot server is periodically state-synced, so the snapshots do not contain full history."
        tooltipClass="ratio-tooltip"></i>
      </p>
      <p class="details">
        height: <strong>{{snapshotData?.snapshotHeight || '' | number: '2.'}}{{snapshotBlockTime ? (' (' + snapshotBlockTime + ' ago)') : ''}}</strong>; size: <strong>{{snapshotData?.snapshotSize || ''}}</strong>; pruning: <strong>custom/100/0/10</strong>; indexer: <strong>null</strong>
      </p>
    </div>
    <pre><code class="language-bash"># install dependencies, if needed
sudo apt update
sudo apt install lz4 -y</code></pre>
    <pre><code class="language-bash">sudo systemctl stop {{chain.serviceName}}

cp $HOME/{{chain.homeDirectoryName}}/data/priv_validator_state.json $HOME/{{chain.homeDirectoryName}}/priv_validator_state.json.backup
{{this.chainService.getUnsafeResetAllString(chain)}}

rm -rf $HOME/{{chain.homeDirectoryName}}/data {{chain.isTopLevelWasmEnabled ? '\nrm -rf $HOME/' + chain.homeDirectoryName + '/wasm' : ''}}

SNAP_NAME=$(curl -s {{chain.snapshotServer}}/{{chain.id}}/ | egrep -o ">{{chain.chainId}}.*\.tar.lz4" | tr -d ">")
curl {{chain.snapshotServer}}/{{chain.id}}/${{ '{' }}SNAP_NAME{{ '}' }} | lz4 -dc - | tar -xf - -C $HOME/{{chain.homeDirectoryName}}

mv $HOME/{{chain.homeDirectoryName}}/priv_validator_state.json.backup $HOME/{{chain.homeDirectoryName}}/data/priv_validator_state.json

sudo systemctl restart {{chain.serviceName}}
sudo journalctl -u {{chain.serviceName}} -f --no-hostname -o cat</code></pre>
  </div>
  <div class="row" *ngIf="chain.isStateSyncEnabled" id="state-sync">
    <p class="title">State Sync
      <i
        class="fa-solid fa-circle-question"
        ngbTooltip="This section allows your node to join the network in a few minutes by using state sync. Note that the node will have a truncated block history starting at the height of the restored snapshot."
        tooltipClass="ratio-tooltip"></i>
    </p>
    <pre><code class="language-bash">sudo systemctl stop {{chain.serviceName}}

cp $HOME/{{chain.homeDirectoryName}}/data/priv_validator_state.json $HOME/{{chain.homeDirectoryName}}/priv_validator_state.json.backup
{{this.chainService.getUnsafeResetAllString(chain)}}

SNAP_RPC="{{chain.rpcServer}}:443"

LATEST_HEIGHT=$(curl -s $SNAP_RPC/block | jq -r .result.block.header.height); \
BLOCK_HEIGHT=$((LATEST_HEIGHT - 2000)); \
TRUST_HASH=$(curl -s "$SNAP_RPC/block?height=$BLOCK_HEIGHT" | jq -r .result.block_id.hash)

echo $LATEST_HEIGHT $BLOCK_HEIGHT $TRUST_HASH

peers="{{chain.rpcPeer}}"
sed -i 's|^persistent_peers *=.*|persistent_peers = "'$peers'"|' $HOME/{{chain.homeDirectoryName}}/config/config.toml

sed -i -E "s|^(enable[[:space:]]+=[[:space:]]+).*$|\1true| ; \
s|^(rpc_servers[[:space:]]+=[[:space:]]+).*$|\1\"$SNAP_RPC,$SNAP_RPC\"| ; \
s|^(trust_height[[:space:]]+=[[:space:]]+).*$|\1$BLOCK_HEIGHT| ; \
s|^(trust_hash[[:space:]]+=[[:space:]]+).*$|\1\"$TRUST_HASH\"|" $HOME/{{chain.homeDirectoryName}}/config/config.toml

mv $HOME/{{chain.homeDirectoryName}}/priv_validator_state.json.backup $HOME/{{chain.homeDirectoryName}}/data/priv_validator_state.json

sudo systemctl restart {{chain.serviceName}}
sudo journalctl -u {{chain.serviceName}} -f --no-hostname -o cat</code></pre>
  </div>
  <div class="row" id="peers">
    <div>
      <p class="title">Live Peers
        <i
          class="fa-solid fa-circle-question"
          ngbTooltip="List of real time peers Nodejumper node is connected to. These peers will help to connect to the network and start receiving blocks."
          tooltipClass="ratio-tooltip"></i>
      </p>
      <p class="details">
        number of active peers: <strong>{{this.livePeers.length || 1}}</strong>
      </p>
    </div>
    <pre><code class="language-bash" id="peers-row">{{chain.rpcPeer}}</code></pre>
    <pre><code class="language-bash" id="update-peers-row">peers="{{chain.rpcPeer}}"
sed -i 's|^persistent_peers *=.*|persistent_peers = "'$peers'"|' $HOME/{{chain.homeDirectoryName}}/config/config.toml</code></pre>
  </div>
  <div class="row" id="addrbook">
    <div>
      <p class="title" style="display: inline-block">Address Book
        <i
          class="fa-solid fa-circle-question"
          ngbTooltip="This address book stores all peers Nodejumper node has ever learned about, it will help you to connect to the network and start receiving blocks."
          tooltipClass="ratio-tooltip"></i>
      </p>
      <p class="details">
        updates every: <strong>1h</strong>
      </p>
    </div>
    <pre><code class="language-bash">curl -s {{chain.snapshotServer}}/{{chain.id}}/addrbook.json > $HOME/{{chain.homeDirectoryName}}/config/addrbook.json</code></pre>
  </div>
</ng-container>
