<div *ngIf="chain" [ngClass]="chain.isArchive ? 'card archive' : 'card'">
  <img alt="{{chain.chainName}}" src="assets/img/chain/{{chain.logo}}">
  <div class="title">{{chain.chainName}}
    <div class="project-support" *ngIf="chain.isProjectSupportUs"
         ngbTooltip="{{chain.chainName}} supports us"
         tooltipClass="ratio-tooltip">★
    </div>
  </div>
  <div class="details">{{chain.chainId}}</div>
  <div class="fast-links">
    <div
      class="link"
      [routerLink]="['/' + chain.id + '/installation']"
    >
      install
    </div>
    <div
      class="link"
      [routerLink]="['/' + chain.id + '/sync#state-sync']"
    >
      sync
    </div>
    <div
      class="link"
      [routerLink]="['/' + chain.id + '/sync#snapshot']"
    >
      snap
    </div>
    <div
      class="link"
      [routerLink]="['/' + chain.id + '/cheat-sheet']"
    >
      cheat
    </div>
  </div>
</div>
