.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 15px 0;
  align-items: center;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  transition: border-color var(--animation-speed) ease-in-out,
  box-shadow var(--animation-speed) ease-in-out;
  -moz-transition: var(--animation-speed) filter linear;
  overflow-anchor: none;
}

.card:hover,
.card.archive:hover {
  cursor: pointer;
  border-color: var(--border-active-color);
  filter: unset;
  opacity: 1;
}

.card.archive {
  filter: grayscale(100%);
  opacity: 0.8;
}

.card img {
  border-radius: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

.card .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card .details {
  font-size: 18px;
  color: var(--details-color);
  text-align: center;
  margin-bottom: 5px;
}

.card .fast-links {
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: all var(--animation-speed) ease;
}

.card:hover .fast-links {
  visibility: visible;
  opacity: 1;
  height: 50px;
  padding: 10px 0;
}

.card .fast-links .link {
  background-color: white;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: all var(--animation-speed) ease;
  text-decoration: none;
  user-select: none;
}

.card .fast-links .link:hover {
  background-color: #f6f6f6;
  border-color: var(--border-active-color);
}

.card .fast-links .link:active {
  background-color: white;
  box-shadow: none;
}

.card .fast-links .link:last-child {
  margin-right: 0;
}


@media (max-width: 576px) {
  .card {
    height: 170px;
  }

  .card .title {
    font-size: 16px;
  }

  .card .details {
    font-size: 14px;
  }

  .card img {
    width: 70px;
    height: 70px;
  }

  .card .fast-links {
    display: none;
  }
}
