<ng-container *ngIf="chainService.activeChain as chain">
  <div class="empty-result" *ngIf="upgradeDataArray && !upgradeDataArray.length">
    <div class="row">
      <p class="title">No chain upgrades scheduled yet. </p>
    </div>
  </div>
  <ng-container *ngFor="let upgradeData of upgradeDataArray">
    <div class="row pb-0">
      <p class="title">Upgrade to {{upgradeData.version}}</p>
      <p class="details">height: <strong>{{upgradeData.height}}</strong></p>
    </div>
    <div class="row pb-0" id="{{upgradeData.version}}">
      <p class="sub-title">Manual Upgrade</p>
      <pre><code class="language-bash">{{upgradeData.manualScriptContent}}</code></pre>
    </div>
    <div class="row" *ngIf="!upgradeData.automaticUpgradeDisabled">
      <p class="sub-title">Automatic Upgrade</p>
      <p class="details">upgrade will be done automatically, when halt height is reached</p>
      <pre><code class="language-bash">bash <(curl -s https://raw.githubusercontent.com/nodejumper-org/cosmos-scripts/master/{{chain.chainName.toLowerCase()}}/upgrade/{{upgradeData.version}}/upgrade_automatic.sh)</code></pre>
    </div>
  </ng-container>
</ng-container>
